
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#hintText {
    font-size: 14px;
    color: #007bff;
    margin-left: 5px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

pre {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow-x: auto;
    max-width: 100%;
    font-size: 14px;
    line-height: 1.4;
    color: yellow; /* Change code text color */
}
